<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
 
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <!-- jQuery (place this before Bootstrap JavaScript) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

<!-- Popper.js (place this before Bootstrap JavaScript) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  
  
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

  <link rel="stylesheet" href="/css/about.css">
  <link rel="stylesheet" href="/css/news.css">
  <link rel="stylesheet" href="/css/contact.css">



  <title>Sixty4 Squares Chess Club</title>
</head>
<body>
  <div id="navpage">
    <div id="close"><i class="ri-close-line"></i></div>
    <div id="mobilelinks">
      <a class="link" href="/">HOME</a>
      <a class="link" href="/about">ABOUT</a>
      <div class="dropdown">
        <button class="link" style="background-color: transparent;margin:0;padding:0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         NEWS
        </button>
        <div class="dropdown-menu" class="link"style="background-color: black; color:white"aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" class="link"style="background-color: black; color:white"href="/news">JALANDHAR NEWS</a>
          <a class="dropdown-item"class="link" style="background-color: black;color:white"href="/news">PUNJAB NEWS</a>
          <a class="dropdown-item"class="link"style="background-color: black;color:white" href="/news">ALL INDIA NEWS</a>
          <a class="dropdown-item"class="link"style="background-color: black;color:white" href="/news">INTERNATIONAL NEWS</a>
        </div>
      </div>
      <a class="link" href="/contact">CONTACT</a>
    </div>
  </div>
  <div id="header">
    <div id="overlay">
      <nav>
      <div id="logo">Sixty4 Squares Chess Club</div>
      <span id="hemberger"><i class="ri-menu-2-line"></i></span>
      <div id="links">
        <a class="link" href="/">HOME</a>
        <a class="link" href="/about">ABOUT</a>
        <div class="dropdown">
          <button class="link" style="background-color: transparent;margin:0;padding:0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           NEWS
          </button>
          <div class="dropdown-menu" class="link"style="background-color: black; color:white"aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" class="link"style="background-color: black; color:white"href="/news">JALANDHAR NEWS</a>
            <a class="dropdown-item"class="link" style="background-color: black;color:white"href="/news">PUNJAB NEWS</a>
            <a class="dropdown-item"class="link"style="background-color: black;color:white" href="/news">ALL INDIA NEWS</a>
            <a class="dropdown-item"class="link"style="background-color: black;color:white" href="/news">INTERNATIONAL NEWS</a>
          </div>
        </div>
        <a class="link" href="/contact">CONTACT</a>
        
      </div>
    </nav>
    
   <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" style="color:aquamarine">#</th>
          <th scope="col"style="color:aquamarine">Name</th>
          <th scope="col"style="color:aquamarine">Date</th>
          <th scope="col"style="color:aquamarine"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" style="color:antiquewhite">1</th>
          <td style="color:antiquewhite">Sixty4 Squares</td>
          <td style="color:antiquewhite">12-11-23</td>
          <td><a href="/register">Register</a></td>
        </tr>
    </table>
    
   </div>

   <script src="/javascripts/script.js"></script>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>